
@media only screen and (max-width: 767px) {

body p {
    margin-left: 50%;
    position: relative;
    top: 45%;
}

nav {
    border: 3px thick black ;
}

nav ul {
    padding-left: 40%;
    height: 125px;
    background-color: lightblue;
    border: 1px solid black;
}
 nav li {
     width: inherit;
     display: inline-block;
     list-style: none; 
     border: 3px thick black ;

 }

#b {
    display: block;
    line-height: 150px;
    background-color: lightcoral;
    border: 1px solid black;
}

#c {
    width: 100%;
    height: 125px;
    background-color: lightslategray;
    border: 1px solid black;
}

#d {
    width: 100%;
    height: 125px;
    background-color: lightgreen;
    border: 1px solid black;
}

#e {
    background-color: lightgreen;
}

#f {
    background-color: lightsalmon;
}

#g {
    background-color: lightyellow;
}

#h {
    background-color: maroon;
}
main {
    width: 100%;
}

main div {
    /* margin: 10px; */
    width: 50%;
    float: left;
    height: 250px ;
    border: 1px solid black;
}

footer {
    clear:both;
    display: block;
    height: 80px;
    background-color: lightseagreen;
    border: 1px solid black;
}
}

@media only screen and (min-width: 768px) {
    body {
        width: 960px;
        margin: 0 auto;
    }

    nav ul {
        padding-left: 40%;
        height: 125px;
        background-color: lightcoral;
        border: 1px solid black;
    }

    nav li {
        display: inline-block;
        list-style: none; 
    }
   
    body p {
        margin-left: 50%;
        position: relative;
        top: 45%;
    }

   #b {
    background-color: lightblue;
       float: left;
       width: 25.7%;
        height: 545px;   
        border: 1px solid black;    
   }
   
   #c {
    display: inline-block;
       width: 37.1%;
       height: 125px;
       margin: 0px;
       padding: 0px;
       box-sizing: border-box;
       background-color: lightslategray;
       border: 1px solid black;
   }
   
   #d {
    display: inline-block;
       width: 37.15%;
       height: 125px;
       margin-left: -4px;
       box-sizing: border-box;
       background-color: lightseagreen;
       border: 1px solid black;
   }
   
   main {
       /* width: 100%; */
       box-sizing: border-box;

   }

   #e {
    background-color:lightsalmon;
}

#f {
    background-color: lightgreen;
}

#g {
    background-color: maroon;
}

#h {
    background-color: lightyellow;
}
   
   main div {
       /* margin: 10px; */
       width: 37.1%;
       float: left;
       height: 170px ;
       box-sizing: border-box;
       border: 1px solid black;

   }
   
   footer {
       /* clear: both; */
       display: inline-block;
       /* margin-left: 18px; */
       width: 74.2%;
       height: 80px;
       background-color: pink;
       border: 1px solid black;
   }
   }